<div class="container">
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2">
            <h2 class="h3">Liste des clés API déjà existantes</h2>
            {% for message in app.flashes('notice') %}
                <p class="alert alert-info" role="alert">
                    {{ message }}
                </p>                
            {% endfor %}

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Application</th>
                        <th scope="col">Email</th>
                        <th scope="col">Date de création</th>
                    </tr>
                </thead>
                <tbody>
                {% for apikey in apikeys %}
                    <tr>
                        <th scope="row">{{ apikey.id }}</th>
                        <td>{{ apikey.appName }}</td>
                        <td>{{ apikey.email }}</td>
                        <td>{{ apikey.creationDate | format_datetime(pattern="dd-MM-Y") }}</td>
                        {# ATTENTION j'utilise un chemin absolu pour éviter certains bug inexpliqué lors de la génération de l'url
                         A Modifier avant mis en ligne !! #}
                        <td><a href="/index.php/admin/apikey/delete/{{ apikey.id }}">supprimer</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if apiKeys is not defined %}
                <p class="alert alert-info" role="alert">
                    Aucune clé à afficher !
                </p>    
            {% endif %}
        </div>      
    </div>
</div>