<div class="row">
    <div class="col-12 col-md-8 offset-md-2">
        <h2 class="h3">Liste des clés API déjà existantes</h2>
        {% for message in app.flashes('notice') %}
            <p class="alert alert-info" role="alert">
                {{ message }}
            </p>                
        {% endfor %}

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Application</th>
                    <th scope="col">Email</th>
                    <th scope="col">Date de création</th>
                </tr>
            </thead>
            <tbody>
            {% for apikey in apikeys %}
                <tr>
                    <th scope="row"><a href="{{ path('show_apikey', { 'id': apikey.id}, relative = true) }}">{{ apikey.id }}</a></th>
                    <td>{{ apikey.appName }}</td>
                    <td>{{ apikey.email }}</td>
                    <td>{{ apikey.creationDate | format_datetime(pattern="dd-MM-Y") }}</td>
                    <td><a href="{{ path('delete_apikey', { 'id': apikey.id}, relative = true) }}">supprimer</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if apikeys is not defined %}
            <p class="alert alert-info" role="alert">
                Aucune clé à afficher !
            </p>    
        {% endif %}
    </div>      
</div>
